name: terraform

on:
  pull_request_target:
    branches:
      - main
    paths:
      # Only plan if TF has changed, even though we may _apply_ regardless
      # to re-push Rust artifacts.
      - "infra/**.tf"

jobs:
  plan:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
      pull-requests: read
    steps:
      - uses: actions/checkout@v6

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ vars.AWS_PLAN_ROLE }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Plan
        working-directory: ./infra
        run: |
          terraform init
          terraform plan \
            -var 'domain=${{ vars.DOMAIN }}' \
            -var 'aws_region=${{ vars.AWS_REGION }}' \
            -var "github_repo=$GITHUB_REPOSITORY" \
            -var "lambda_image_tag=latest"
